{% extends 'blog/base.html' %}

{% block content%}
<div class="jumbotron">
    <h2>please login:</h2>
    <h3>(must be superUser)</h3>

    {% if form.errors%}
        <p>uour username and password didn t match</p>
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}

    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="zaloguj" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="#">Lost password?</a></p>

</div>

{% endblock %}