.techfont{
    font-family:'Russo One' , sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px
}

  @font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.bigbrand{
    font-size: 1.5em;
}

.centerstage{
    margin-left: auto;
    margin-right: auto;
}


.postdate{
    text-align: center;
}

.posttitle{
    font-font:'Russo One' , sans-serif;
    font-size: 3em;
    text-align: center;

}
.postcontent{
    font-family: 'Monserrat';
    font-size: 1.5em;
}

.btn-comment{
    position: absoulute;
    right: 0px;
}


.loader {

  filter:hue-rotate(0deg);
  color:linear-gradient(45deg,#0f8,#08f);
  animation:hue 10000ms infinite linear;

}

@keyframes spinify {
  0% {
    transform: translate(0px,0px);

  }
  33% {
    transform: translate(0px,24px);
    border-radius:100%;
    width:10px;
    height:10px;

  }
   66% {
    transform:translate(0px,-16px);
  }

   88% {
    transform:translate(0px,4px);

  }
  100% {
    transform:translate(0px,0px);
  }
}
@keyframes hue{
  0%{filter: hue-rotate(0deg);}
  100%{filter:hue-rotate(360deg);}

}


.badge {
  position: absolute;
  top: 10px;
  right: -35px;
  padding: 1px 6px;
  border-radius: 50%;
  background-color: red;
  color: white;
     -moz-transform: translate(-100%, -100%); /* For Firefox */
     -ms-transform: translate(-100%, -100%); /* for IE */
     -webkit-transform: translate(-100%, -100%); /* For Safari, Chrome, iOS */
     -o-transform: translate(-100%, -100%); /* For Opera */
     }

.comment{
    border-style: ridge;
    border-radius: 4px;
    border:solid 1px;
    border-color: #08a3fc;

}

.author {
    background-color: #08a3fc;
    }